<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestAPIAutomationSuite">
  <test name="RestAPIAutomationTest">
    <classes>
      <class name="com.qa.bookstoreapi.GETBookStoreAPI"/>
    </classes>
  </test> <!-- RestAPIAutomationTest -->
</suite> <!-- RestAPIAutomationSuite -->
